* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    font-size: 2vh;
}

#otherHeader {
    background-color: black;
}

#navBarUl {
    margin: 0;
    list-style-type: none;
}

.navBarLi {
    display: inline-block;
    padding: 1vw;
}

nav {
    width: 80%;
    margin: 0 auto;
}

.navBarItems {
    color: white;
    text-decoration: none;
}

#homeBody {
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

#mainHome {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#mainDocumentation {
    width: 80%;
    margin: 0 auto;
}

a {
    color: blue;
    text-decoration: none;
}

.button {
    display: inline-block;
    width: 25%;
    height: 5vh;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding-top: 1.5vh;
}

span {
    color: white;
    background-color: dimgray;
    border-radius: 5px;
}

footer {
    color: gray;
    text-align: center;
}